<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>About Us</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PROJECT Arbeit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Resume Uploader</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/resume-analysis/">Resume Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/aboutus/">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Card Section -->
    <div class="card" style="width: 110rem;">
      
      <div class="card-body">
        <h5 class="card-title fs-2">About Us</h5>
        <p class="card-text fs-4">Welcome to Arbeit, where we believe in the power of showcasing talent through compelling resumes. We understand that a resume is not just a document; it's a reflection of one's skills, experiences, and aspirations. Our platform serves as a bridge between individuals seeking opportunities and employers searching for exceptional talent.

          At Arbeit, we strive to simplify the process of job hunting and talent acquisition. Our user-friendly interface allows individuals to effortlessly upload their resumes, enabling employers to access a diverse pool of talented candidates.
          
          Our unique feature includes a visual representation of the most frequently used words in each resume. Through an intuitive bar chart display, users can gain insights into the prominent keywords within their resumes, aiding them in optimizing their content for better visibility and impact.
          
          We value privacy and security; thus, all information uploaded on our platform is treated with utmost confidentiality and protected through robust security measures.
          
          Our mission is to empower individuals in their career journey by providing them with a platform to showcase their skills and connect with potential employers efficiently.
          
          Join us at Arbeit and embark on a journey where talent meets opportunity. Let's shape a brighter future together!
        
        
           Created By:
           Alwyn Antony Ben 22112002
           Jai Sharma 22112011
           Preety Kumari 22112024
           Sanjana Gupta 22112026
        </p>
        <a href="http://127.0.0.1:8000/" class="btn btn-primary">HOME</a>
      </div>
    </div>
    
    </div>
  </body>
</html>
